<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="AccessPersonal"
     connectionString="Server=172.16.18.123;Database=BDEVALUACIONPERSONALHVLH;user=sa;password=Programacion2018"/>
  </connectionStrings>
  
</configuration>
